<%= "my name is #{@name} and you're watching disney channel" %>
<br>
<%= "#{@bop} is such a bop" %>
<br>
<h1><%= "#{@celebrity_crush} IS SUCH A SNACCCCCCCCC 😘
WEAVE SNATCHHHHEEEEDDDDDD" %></h1>
<br>
<%= "#{@name} do u love me r u riding say u'll never ever leave from beside me" %>
<br>
<%= "#{@adjective} "